<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/style.css">

<html>
  <head>
    <title>Management</title>
    <meta charset="utf-8"/>
    <style>

    </style>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

  </head>
  <body>
    <div class="YeesideLogin">
      Username: <input type="text" id="tempUser">
      Password: <input id="password" type="password" name="password">
      <input type="checkbox" onclick="showPassword()">Show Password
      <br><br>


      <li class='button'id='test'onclick="submitInfo()"><a href="/yeelogin">Submit</a></li>

    </div>

    <script src="js/yeeside.js"></script>

  </body>
</html>
